includes:
    - ./vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 8

    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false

    paths:
        - ./mirror.php
